@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
/* === This part of code is for font === */

/* === Common CSS start Here === */
* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --color__yellow: #ff900e;
  --color__dark: #131313;
  --color__black: #424242;
  --color__gray: #727272;
  --transition: all 400ms ease;
}
body {
  font-family: "Work Sans", sans-serif;
  /* background: #f7f5f5; */
}
.container {
  max-width: 144rem;
  margin: 0 auto;
}
h3 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: normal;
  color: var(--color__dark);
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--color__gray);
}
.btn {
  display: inline-block;
  padding: 2rem 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: var(--color__yellow);
  border-radius: 1rem;
}
/* === Common CSS End Here === */

/* === Nav Css Start Here === */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 5rem 0rem;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__container > a {
  font-size: 4.5rem;
  color: var(--color__dark);
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.nav__container > a:hover .logo {
  color: var(--color__yellow);
  transition: var(--transition);
}
.nav__container .menu {
  display: flex;
  column-gap: 8.5rem;
}
.nav__container .menu li > a {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--color__black);
}
.nav__container .menu li:hover a {
  color: var(--color__yellow);
  transition: var(--transition);
}
/* === Nav Css End Here === */
/* === Banner Start here === */
.banner {
  margin-top: 10rem;
}
.banner .banner__container .banner__info {
  text-align: center;
}
.banner .banner__container .banner__info h1 {
  font-size: 6.4rem;
  font-weight: 700;
  color: var(--color__dark);
}
.banner .banner__container .banner__info p {
  margin: 3.2rem 27.1rem;
}
.banner .banner__container .banner__info a {
  margin-bottom: 5rem;
}
.banner .banner__container .banner__info a:hover {
  color: var(--color__yellow);
  background: var(--color__dark);
  transition: var(--transition);
}
.hyellow {
  color: var(--color__yellow);
}
/* === Banner End here === */
/* === Feature Start here === */
.feature {
    margin: 10rem 0rem;
}
.feature__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7rem;
    align-items: center;
}
.feature__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}
.feature__image {
    overflow: hidden;
    box-shadow: 2px 10px 24px -3px rgba(0,0,0,0.74);
-webkit-box-shadow: 2px 10px 24px -3px rgba(0,0,0,0.74);
-moz-box-shadow: 2px 10px 24px -3px rgba(0,0,0,0.74);
    
}
.feature__image img {
    transition: var(--transition);
    transform: scale(1.02);
}
.feature__image:hover img{
    transform: scale(1.2);
}
.feature__info h3 {
    margin-right: 9.8rem;
}
.feature__info .graythin {
    font-weight: 500;
    color: var(--color__gray);
}
.feature__info .thickyellow {
    color: var(--color__yellow);
}
.feature__info p {
    margin: 3rem 12.4rem 3rem 0;
}
.feature__info a:hover {
    color: var(--color__yellow);
    background: var(--color__dark);
    transition: var(--transition);
}
/* === Feature End here === */

























/* === This part of code is for responsive === */
/* === For small device === */
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .banner__img {
    width: 90vw;
  }
  .banner__img img {
    width: 100%;
  }
  .nav__container {
    flex-direction: column;
  }
  .nav__container > a {
    font-size: 2rem;
  }
  .nav__container .menu {
    column-gap: 1rem;
    justify-content: center;
  }
  .nav__container .menu li > a {
    font-size: 1.5rem;
  }
  .banner .banner__container .banner__info h1 {
    font-size: 2.5rem;
  }
  .banner .banner__container .banner__info p {
    margin: 3.2rem 1.1rem;
  }
  .banner {
    margin-top: 4rem;
  }
  /* === Feature Start === */
  .feature {
    margin: 5rem 0rem;
}
  .feature__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature__images {
    grid-template-columns: 1fr;
    order: 1;
    width: 90vw;
    margin-top: 5rem;
  }
  .feature__images img {
    width: 100%;
  }
  .feature__info h3 {
    font-size: 30px;
    margin-right: 0;
}
.feature__info p {
    margin-right: 0;
}
  /* === Feature End === */
}
/* === For small device === */
/* === For Medium Device === */
@media screen and (min-width:576px) and (max-width:768px) {
    .container {
        width: 90%;
    }
    .banner__img {
        width: 90vw;
      }
      .banner__img img {
        width: 100%;
      }
      .nav__container > a {
        font-size: 2.5rem;
    }
    .nav__container .menu {
        column-gap: 2.5rem;
    }
    .banner .banner__container .banner__info h1 {
        font-size: 5.4rem;
    }
    .banner .banner__container .banner__info p {
        margin: 3.2rem 1.1rem;
    }
    /* === Feature Start === */
    .feature {
        margin: 5rem 0rem;
    }
      .feature__container {
        grid-template-columns: repeat(1, 1fr);
      }
      .feature__images {
        grid-template-columns: 1fr 1fr;
        order: 1;
        width: 90vw;
        margin-top: 5rem;
      }
      .feature__images img {
        width: 100%;
      }
      .feature__info h3 {
        font-size: 30px;
        margin-right: 0;
    }
    .feature__info p {
        margin-right: 0;
    }
    /* === Feature End === */
}
@media screen and (min-width:768px) and (max-width:1400px) {
    .container {
        width: 90%;
    }
    .banner__img {
        width: 90vw;
      }
      .banner__img img {
        width: 100%;
      }
      .nav__container > a {
        font-size: 2.5rem;
    }
    .nav__container .menu {
        column-gap: 5.5rem;
    }
    .banner .banner__container .banner__info h1 {
        font-size: 5.4rem;
    }
    .banner .banner__container .banner__info p {
        margin: 3.2rem 1.1rem;
    }
    .feature {
        margin: 5rem 0rem;
    }
      .feature__container {
        grid-template-columns: repeat(1, 1fr);
      }
      .feature__images {
        grid-template-columns: 1fr 1fr;
        order: 1;
        width: 90vw;
        margin-top: 5rem;
      }
      .feature__images img {
        width: 100%;
      }
      .feature__info h3 {
        font-size: 30px;
        margin-right: 0;
    }
    .feature__info p {
        margin-right: 0;
    }
}
/* === For Medium Device === */